.time {
  flex: 0 1 15em;
  min-width: 0;
}
.time span {
  display: inline-block; /* prefers line-breaks between spans */
}

.value {
  font-size: x-large;
  font-weight: bold;
  text-align: right;
  padding: 0 1em;
  margin: auto;
  flex: 0 1 4em;
}
