:host {
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}
tr {
  height: 48px;
}
td {
  padding: 0 16px;
}

.time span {
  display: inline-block; /* prefers line-breaks between spans */
}

.value {
  font-size: x-large;
  font-weight: bold;
  text-align: right;
}
.actions {
  white-space: nowrap;
  text-align: right;
}

table button {
  margin: -50% 0; /* needed for collapsing animation of table row */
}

button[mat-fab] {
  position: fixed;
  right: 16px;
  bottom: 16px;
}
