<ng-container *ngIf="entries$ | async as entries">
  <table @list *ngIf="entries.length > 0">
    <tr @items *ngFor="let entry of entries; trackBy: trackByIdFn">
      <td class="time">
        <span>{{ entry.timestamp | date: 'mediumDate' }},&nbsp;</span>
        <span>{{ entry.timestamp | date: 'mediumTime' }}</span>
      </td>
      <td class="value align-right">{{ entry.value }}</td>
      <td class="align-right">
        <button
          mat-icon-button
          color="warn"
          (click)="deleteEntry(entry)"
          aria-label="Delete entry"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </table>
</ng-container>
