<div class="with-spacing with-padding">
  <h2>Export</h2>
  <p>
    Here you can export all your entries as a
    <abbr matTooltip='CSV stands for "comma-separated values"'>CSV</abbr> file.
    You can use this file...
  </p>
  <ul>
    <li>as a backup</li>
    <li>to import your data to another device</li>
    <li>in a spreadsheet application like Excel to view or edit your data</li>
  </ul>
  <p>
    <button mat-raised-button color="primary" (click)="generateExport()">
      Generate Export
    </button>
  </p>

  <ng-template #exportDialog>
    <h2 mat-dialog-title>Export entries</h2>
    <mat-dialog-content class="with-spacing" *ngIf="exportInfo; else spinner">
      <p>Your export is ready to download.</p>
      <mat-list>
        <mat-list-item>
          <mat-icon matListIcon>list</mat-icon>
          <p matLine>{{ exportInfo.entryCount }} entries</p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>donut_large</mat-icon>
          <p matLine>
            {{ exportInfo.fileSize | filesize: { fullform: true, round: 1 } }}
          </p>
        </mat-list-item>
      </mat-list>
    </mat-dialog-content>
    <ng-template #spinner>
      <mat-dialog-content>
        <ti-spinner>Generating export...</ti-spinner>
      </mat-dialog-content>
    </ng-template>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close color="primary">Cancel</button>
      <a
        mat-button
        mat-dialog-close
        color="primary"
        cdkFocusInitial
        [disabled]="!exportInfo"
        [href]="exportInfo?.blobUrl"
        download="TrackIt_Export_{{
          exportInfo?.date | date: 'yyyy-MM-dd_HH-mm-ss'
        }}.csv"
      >
        Download
      </a>
    </mat-dialog-actions>
  </ng-template>

  <h2>Import</h2>
  <p>
    Here you can import a
    <abbr matTooltip='CSV stands for "comma-separated values"'>CSV</abbr> file
    that was exported from TrackIt.
  </p>
  <p>
    You can also import data from another source. In this case, make sure that
    the CSV file contains two columns named <code>timestamp</code> and
    <code>value</code>.
  </p>
  <p>
    <button mat-raised-button color="primary" (click)="fileInput.click()">
      Choose File
    </button>
  </p>
  <input
    #fileInput
    type="file"
    hidden
    accept=".csv,text/csv"
    (change)="prepareImport($event.target.files[0])"
  />

  <ng-template #importDialog>
    <h2 mat-dialog-title>Import entries</h2>
    <mat-dialog-content class="with-spacing">
      <mat-list>
        <mat-list-item>
          <mat-icon matListIcon>insert_drive_file</mat-icon>
          <p matLine>{{ importFilename }}</p>
        </mat-list-item>
        <mat-list-item *ngIf="importError">
          <mat-icon matListIcon color="warn">error_outline</mat-icon>
          <p matLine>Invalid file</p>
        </mat-list-item>
        <ng-container *ngIf="importInfo">
          <mat-list-item>
            <mat-icon matListIcon>list</mat-icon>
            <p matLine>{{ importInfo.entryCount }} entries</p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>date_range</mat-icon>
            <p matLine>
              {{ importInfo.minDate | date }} &ndash;
              {{ importInfo.maxDate | date }}
            </p>
          </mat-list-item>
        </ng-container>
      </mat-list>
      <ng-container *ngIf="importInfo?.existingEntryCount > 0">
        <div class="spacer"></div>
        <p>
          There are already {{ importInfo.existingEntryCount }} entries. What
          should happen to them?
        </p>
        <mat-radio-group
          class="vertical-radio-group with-spacing"
          color="primary"
          [value]="importShouldReplaceEntries ? 'replace' : 'keep'"
          (change)="importShouldReplaceEntries = $event.value === 'replace'"
        >
          <mat-radio-button value="keep">
            Keep existing entries
          </mat-radio-button>
          <mat-radio-button value="replace">
            Replace existing entries
          </mat-radio-button>
        </mat-radio-group>
      </ng-container>
      <p *ngIf="importError">
        Please select a valid CSV file that contains two columns named
        <code>timestamp</code> and <code>value</code>.
      </p>
      <ti-spinner *ngIf="!importInfo && !importError">Analyzing...</ti-spinner>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close color="primary">Cancel</button>
      <button
        mat-button
        color="primary"
        cdkFocusInitial
        [disabled]="!importInfo"
        (click)="import()"
      >
        Import
      </button>
    </mat-dialog-actions>
  </ng-template>

  <ng-template #importConfirmReplaceDialog let-data>
    <h2 mat-dialog-title>Replace all existing entries?</h2>
    <mat-dialog-content>
      All your {{ data.existingEntryCount }} existing entries will be
      permanently deleted and replaced by the imported entries.
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close color="primary">Cancel</button>
      <button
        mat-button
        mat-dialog-close="confirm"
        color="primary"
        cdkFocusInitial
      >
        Replace
      </button>
    </mat-dialog-actions>
  </ng-template>

  <ng-template #importSuccessSnackBar let-data>
    {{ data.entryCount }} entries imported.
  </ng-template>
</div>
