.value {
  font-size: x-large;
  font-weight: bold;
  text-align: right;
  padding: 0 1em;
  width: 5em;
  margin: auto;
}

.version {
  font-size: x-small;
  margin-left: 1em;
  height: 24px;
  opacity: 0.5;
}
