<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{title}}</span>
    <span style="flex: 1 1 auto;"></span>
    <button *ngIf="!isPersisted" mat-button (click)="askForPermission()">Enable persistent storage</button>
    <button *ngIf="showButton" mat-raised-button color="accent" (click)="addToHomeScreen()">Add to home screen</button>
  </mat-toolbar-row>
</mat-toolbar>
<main>
  <form (ngSubmit)="addEntry()" [formGroup]="form">
    <mat-form-field>
      <mat-label>Value</mat-label>
      <input matInput type="number" formControlName="value">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Date and Time</mat-label>
      <input matInput type="datetime-local" formControlName="timestamp" [matDatepicker]="myDatepicker">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>
    <button mat-button color="primary" [disabled]="form.invalid">Add Entry</button>
  </form>

  <mat-list @list *ngIf="entries.length > 0">
    <mat-list-item @items *ngFor="let entry of entries; trackBy: trackByIdFn">
      <p class="time">{{entry.timestamp}}</p>
      <p class="value">{{entry.value}}</p>
      <button mat-stroked-button color="primary" (click)="setToNow(entry)">Set to now</button>
      <button mat-icon-button color="warn" (click)="deleteEntry(entry)" aria-label="Delete entry">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</main>
