<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button
      *ngIf="isMobile"
      aria-label="Toggle navigation bar"
      mat-icon-button
      (click)="sideNav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-title">{{ title }}</h1>
    <span style="flex: 1 1 auto"></span>
    <button *ngIf="!isPersisted" mat-button (click)="askForPermission()">
      Enable persistent storage
    </button>
    <button
      *ngIf="showButton"
      mat-raised-button
      color="accent"
      (click)="addToHomeScreen()"
    >
      Add to home screen
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav
    #sideNav
    role="navigation"
    [opened]="!isMobile"
    [mode]="isMobile ? 'over' : 'side'"
  >
    <div class="sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink="entries" routerLinkActive="active">
          <mat-icon>list</mat-icon> <span class="nav-caption">Entries</span>
        </a>
        <a mat-list-item routerLink="chart" routerLinkActive="active">
          <mat-icon>show_chart</mat-icon> <span class="nav-caption">Chart</span>
        </a>
        <a mat-list-item routerLink="import-export" routerLinkActive="active">
          <mat-icon>import_export</mat-icon>
          <span class="nav-caption">Import/Export</span>
        </a>
      </mat-nav-list>
      <div class="sidenav-bottom">
        <pre (click)="askForPermission()">{{ persistenceInfo | json }}</pre>
        <span class="version">{{ version }}</span>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
