/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  line-height: 1.4;
}

[mat-button],
[mat-raised-button],
[mat-icon-button],
[mat-fab],
[mat-mini-fab],
[mat-stroked-button],
[mat-flat-button] {
  text-transform: uppercase;
}

abbr[matTooltip] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted currentColor;
}

code {
  font-family: 'Roboto Mono', monospace;
  font-size: 90%;
  background: rgba(0, 0, 0, 0.05);
  padding: 2px 4px;
  border-radius: 4px;
}

.with-padding {
  display: block;
  padding: 1em;
}
.with-spacing > * {
  margin: 0;
}
.with-spacing > * + * {
  margin-top: 1em;
}
.spacer {
  display: inline-block; /* prevents margin collapsing */
}
