mat-dialog-content {
  display: flex;
  flex-direction: column;
}
.horizontal {
  display: flex;
  flex-direction: row;
  & > * {
    width: 7.5em;
    flex: 1;
  }
  & > * + * {
    margin-left: 1em;
  }
}

.add-another {
  margin-right: auto;
  padding-right: 2em;
}
