mat-dialog-content {
  display: flex;
  flex-direction: column;
}
.horizontal {
  display: flex;
  flex-direction: row;
}
.horizontal > * {
  width: 7.5em;
  flex: 1;
}
.horizontal > * + * {
  margin-left: 1em;
}

.add-another {
  margin-right: 2em;
}
